<div class="mt-4">
  <div class="d-flex justify-content-end">
    <button class="addTask" mat-raised-button (click)="addTask()">
      Add Task
    </button>
  </div>

  <form>
    <div class="row mt-3">
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Search</mat-label>
          <input
            matInput
            #searchInput
            (keyup)="search(searchInput.value)"
            placeholder="title search"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>By User</mat-label>
          <mat-select (selectionChange)="filterUserName($event.value)">
            <mat-option *ngFor="let user of users" [value]="user?._id">
              {{ user.username }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Status</mat-label>
          <mat-select (selectionChange)="filterStatus($event.value)">
            <mat-option *ngFor="let item of status" [value]="item?.name">
              {{ item?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              (dateChange)="selectDate($event.target.value , 'fromDate')"
              placeholder="Start date"
            />
            <input
              matEndDate
              (dateChange)="selectDate($event.target.value, 'toDate')"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="listBox">
    <table
      *ngIf="dataSource && dataSource.data.length > 0; else noData"
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 w-100 mt-2"
    >
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element; let index = index">
          {{ index + 1 }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">{{ element.user }}</td>
      </ng-container>

      <ng-container matColumnDef="deadLineDate">
        <th mat-header-cell *matHeaderCellDef>DeadLine Date</th>
        <td mat-cell *matCellDef="let element">{{ element.deadLineDate }}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="w-20">actions</th>
        <td mat-cell *matCellDef="let element">
          <button
            class="btn btn-primary"
            mat-raised-button
            (click)="detailsTask(element._id)"
          >
            details
          </button>
          <button class="btn btn-warning" mat-raised-button>Update</button>
          <button
            class="btn"
            [ngClass]="
              element.status == 'Complete' ? 'btn-success' : 'btn-secondary'
            "
            mat-raised-button
            (click)="UpdateStatusTask(element._id)"
          >
            {{ element.status }}
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="deleteTask(element._id)"
          >
            Delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- ❌ لو مفيش بيانات -->
    <ng-template #noData>
      <div class="text-center text-danger NotFoundUser">🚫 No task found.</div>
    </ng-template>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
